body {
    background-color: #1A535C;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: #4ECDC4;
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    margin: auto;
}
h3{
    text-align: center;
}
.container * {
    padding-left: 30px;
    padding-right: 30px;
}
.ar1, .ar2{
    color: #F7FFF7;
    font-size: 16pt;
}
.ar1_title, .ar2_title{
    font-size: 20pt;
    color: #FF6B6B;
    padding-bottom: 10px;
    padding-top: 30px;
}
.image{
    position: inherit;
    width: 70%;
    height: auto;
    padding-left: 350px;
    padding-top: 30px;
}
.image_title{
    font-size: 30pt;
    text-shadow: 5px 5px 10px #333;
    padding-top: 30px;
    text-align: center;
    color: #fff
}
.fin{
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
}
.t_fin{
    font-size: 14pt;
    text-align: center;
}
a{
    text-decoration: none;
}